@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_slnt\,wght.ttf') format("truetype");
}

@font-face {
    font-family: 'Tilt Neon';
    src: url('/fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf') format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format("truetype");
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128, 0.7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

:root {
    --background-color: rgb(243, 237, 237);
    --text-color: rgb(28, 29, 51);
    --bg-utils: rgba(0, 0, 0, 0.05);
    --bg-utils-hover: rgba(0, 0, 0, 0.1);
    --border-color: rgba(28, 29, 51, 0.185);
}

.dark {
    --background-color: rgb(28, 29, 51);
    --text-color: rgb(243, 237, 237);
    --bg-utils: rgba(255, 255, 255, 0.05);
    --bg-utils-hover: rgba(255, 255, 255, 0.1);
    --border-color: rgba(243, 237, 237, 0.185);
}

/* rgb(28, 29, 51) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: auto;
}

#app {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--text-color);
    background-color: var(--background-color);
}

.lazy-loading {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.suspense-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: rgb(49, 49, 235);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.content {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card {
    height: auto;
    min-height: 250px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 7px 20px -15px rgba(0,0,0,0.75);
    /* box-shadow: 14px 15px 13px -12px rgba(0,0,0,0.38); */
    border: 1px solid #cccccc98;
    background-color: var(--background-color);
    color: var(--text-color);
}

.card-less {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.card-xx-small {
    width: 15%;
}

.card-x-small {
    width: 25%;
}

.card-small {
    width: 30%;
}

.card-medium {
    width: 45%;
}

.card-large {
    width: 60%;
}

.card-x-large {
    width: 80%;
}

.card-xx-large {
    width: 90%;
}

.card-xxx-large {
    width: 100%;
}

.card .card-header,
.card-less .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid var(--border-color);
}

.card .card-body,
.card-less .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 10px 20px 10px 20px;
    margin: 0;
}

.card .card-footer,
.card-less .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.pre-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--border-color);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
}

.pre-pagination span,
.pagination span {
    width: fit-content;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: small;
}

.pre-pagination input,
.pagination input {
    width: 40%;
    height: auto;
    padding: 10px 10px;
    margin: 0;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
}

.pre-pagination select,
.pagination select {
    height: auto;
    padding: 10px 10px;
    margin: 0;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    outline: none;
    font-family: "Inter", sans-serif;
}

.pre-pagination button {
    position: relative;
    height: auto;
    padding: 10px 12px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    border: none;
    background-color: var(--background-color);
    outline: 1px solid #8f8f8f;
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.pre-pagination button .tooltip-light {
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: max-content;
    height: auto;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    color: rgb(243, 237, 237);
    background-color: rgb(28, 29, 51);
    box-shadow: 0px 0px 10px -2px rgb(28, 29, 51);
    transition: all 0.2s ease-in-out;
}

.pre-pagination button .tooltip-light::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 48%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(28, 29, 51) transparent transparent transparent;
}

.pre-pagination button .tooltip-dark {
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: max-content;
    height: auto;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    color: rgb(28, 29, 51);
    background-color: rgb(243, 237, 237);
    box-shadow: 0px 0px 10px -2px rgb(28, 29, 51);
    transition: all 0.2s ease-in-out;
}

.pre-pagination button .tooltip-dark::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 48%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(243, 237, 237) transparent transparent transparent;
}

.pre-pagination button:hover .tooltip-light,
.pre-pagination button:hover .tooltip-dark {
    display: block;
}

.pre-pagination button.bg-orange,
.pagination button.bg-orange {
    background-color: #ffa500;
    color: #f3eded;
    border: none;
    outline: 1px solid #ffa500;
}

.pre-pagination button.bg-orange:hover,
.pagination button.bg-orange:hover {
    background-color: #ffa600e1;
    color: #fff;
    border: none;
    outline: 1px solid #ffa600e1;
}

.pre-pagination button.bg-blue,
.pagination button.bg-blue {
    background-color: #3131eb;
    color: #f3eded;
    border: none;
    outline: 1px solid #3131eb;
}

.pre-pagination button.bg-blue:hover,
.pagination button.bg-blue:hover {
    background-color: #3131ebe3;
    color: #fff;
    border: none;
    outline: 1px solid #3131ebe3;
}

.pre-pagination button.bg-red,
.pagination button.bg-red {
    background-color: #ca1818;
    color: #f3eded;
    border: none;
    outline: 1px solid #ca1818;
}

.pre-pagination button.bg-red:hover,
.pagination button.bg-red:hover {
    background-color: #ca1818e3;
    color: #fff;
    border: none;
    outline: 1px solid #ca1818e3;
}

.pre-pagination button:hover,
.pagination button:hover {
    background-color: #31eb31dc;
    outline: 1px solid #31eb31dc;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.pre-pagination button.active,
.pagination button.active {
    background-color: #31eb31dc;
    outline: 1px solid #31eb31dc;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.pagination button {
    position: relative;
    height: auto;
    padding: 10px 12px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    border: none;
    background-color: var(--background-color);
    outline: none;
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.pre-pagination button:disabled,
.pagination button:disabled,
.pre-pagination button:disabled:hover,
.pagination button:disabled:hover {
    background-color: #cccccc98;
    outline: none;
    color: rgba(0, 0, 0, 1);
    cursor: not-allowed;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.pre-pagination button[disabled],
.pagination button[disabled],
.pre-pagination button[disabled]:hover,
.pagination button[disabled]:hover {
    background-color: #cccccc98;
    outline: none;
    color: rgba(0, 0, 0, 1);
    cursor: not-allowed;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 40px 100px;
    margin: 0;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 0 0 0;
}

.container .box .inner-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    height: auto;
    padding: 0 10px;
    margin: 0;
    gap: 30px;
}

.container .box .inner-box-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;
    height: auto;
    padding: 0;
    margin: 0;
}

.container .box .inner-box-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 30px;
    height: auto;
    padding: 0;
    margin: 0;
}

.container .box .inner-box-4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    height: auto;
    padding: 0;
    margin: 0;
}

.pills {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    margin: 0;
    /* box-shadow: 0px 7px 20px -15px rgba(0, 0, 0, 0.75); */
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    z-index: 1;
}

.pills li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pills li .link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.87;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.pills li .link:hover {
    opacity: 1;
}

.pills li .link.active {
    opacity: 1;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
    background-color: #31EB31;
    -webkit-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.75);
}

.pills li .link.active:hover {
    opacity: 1;
}

table {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

table th {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--border-color);
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    font-family: 'Tilt Neon', sans-serif;
}

table td {
    padding: 10px 11px;
    margin: 0;
    text-align: left;
    font-size: small;
    white-space: wrap;
}

table tr:nth-child(even) {
    background-color: rgba(49, 49, 235, 0.05);
}

table td .link {
    text-decoration: none;
    cursor: pointer;
}

table .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    gap: 10px;
}

table button {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

table button.danger {
    color: var(--text-color);
}

table button.danger:hover {
    color: #ca1818;
}

table button.edit {
    color: var(--text-color);
}

table button.edit:hover {
    color: rgba(80, 80, 228, 0.75);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

form .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

form .form-group .loader {
    position: absolute;
    top: 53%;
    right: 15px;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    font-size: large;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 2px solid #ccc;
    border-top: 2px solid #31EB31;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

form .form-group .responser {
    position: absolute;
    top: 48%;
    right: 10px;
    font-size: large;
    font-weight: 400;
    padding: 4px 4px  0 4px;
    margin: 0;
    border-radius: 50%;
    background-color: var(--background-color);
}

form .form-group label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 0 5px 0;
    padding: 5px 0;
}

form .form-group label i {
    font-style: normal;
    color: #ca1818;
}

form .form-group label span {
    font-style: normal;
    padding: 5px 10px;
    color: rgb(243, 237, 237);
    background-color: #5f5fe7;
    border-radius: 5px;
}

form .form-group input {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    margin: 0 0 10px 0;
}

form .form-group select {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    margin: 0 0 10px 0;
}

form .form-group select option {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 10px;
}

form .form-group textarea {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    margin: 0 0 10px 0;
    resize: none;
}

form .form-group input:read-only:hover {
    outline: none;
    border: 1px solid #cccccc98;
}

form .form-group input:hover,
form .form-group select:hover, 
form .form-group textarea:hover {
    outline: 1px solid #31EB31;
    border: 1px solid #31EB31;
}

form .form-group input[type="checkbox"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 5px 0 0;
}

form .input-group {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

form .input-group.bordered {
    border: 1px solid #cccccc98;
}

form .input-group input {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    margin: 0;
}

form .input-group select {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    margin: 0;
}

form .input-group select option {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 10px;
}

form .input-group textarea {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    margin: 0;
    resize: none;
}

form .input-group div {
    position: absolute;
    right: 2px;
    top: 2px;
    font-style: normal;
    padding: 8px 10px;
    color: rgb(243, 237, 237);
    background-color: rgb(49, 49, 235);
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    height: auto;
    margin: 0;
}

form .input-group p {
    margin: 0;
    height: 100%;
    padding: 10px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border-left: 1px solid #cccccc98;
}

form .input-group span {
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border-right: 1px solid #cccccc98;
}

form .input-group i {
    font-style: normal;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border-right: 1px solid #cccccc98;
    border-left: 1px solid #cccccc98;
}

form .input-group a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border-left: 1px solid #cccccc98;
}

form .input-group:hover {
    outline: 1px solid #31EB31;
    border: 1px solid #31EB31;
}

form .input-group input:hover,
form .input-group select:hover, 
form .input-group textarea:hover {
    outline: none;
    border: none;
}

form button {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    background-color: #31EB31;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
}

form button.blue {
    color: #ffffff;
    background-color: rgb(49, 49, 235);
}

form button.blue:hover {
    color: #ffffff;
    background-color: rgba(49, 49, 235, 0.904);
}

form button:hover {
    background-color: #31eb31e7;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

form button:disabled {
    background-color: #cccccc98;
    color: rgba(0, 0, 0, 0.9);
    cursor: not-allowed;
}

form button:disabled:hover {
    background-color: #cccccc98;
    color: rgba(0, 0, 0, 0.9);
    cursor: not-allowed;
}

.file-input-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 7px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    margin: 0 0 10px 0;
}

.file-input-container:hover {
    outline: 2px solid #31EB31;
    border: 1px solid #31EB31;
}
  
.file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    text-align: center;
}

.file-input-container h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    border: none;
    background-color: var(--background-color);
    outline: none;
    font-family: "Inter", sans-serif;
}

.file-input-container h5 i {
    font-style: normal;
}

/* Typography */

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

h4 {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 600;
}

h4 i {
    font-style: normal;
    font-weight: 800;
}

h5 {
    font-size: 12px;
    font-weight: 600;
}

h6 {
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;
    margin: 0;
    font-size: 11px;
    font-weight: 600;
}

/* Colors */

.text-blue {
    color: rgb(49, 49, 235);
}

.text-red {
    color: #eb3131;
}

.text-green {
    color: #1aaf1a;
}

.text-lime-green {
    color: #31EB31;
}

.text-yellow {
    color: yellow;
}

.text-purple {
    color: purple;
}

.text-pink {
    color: pink;
}

.text-orange {
    color: orange;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

.bg-blue {
    background-color: blue;
    color: white;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-green {
    background-color: #1aaf1a;
    color: white;
}

.bg-lime-green {
    background-color: #31EB31;
    color: rgba(0, 0, 0, 0.9);
}

.bg-yellow {
    background-color: yellow;
    color: black;
}

.bg-purple {
    background-color: purple;
    color: white;
}

.bg-pink {
    background-color: pink;
    color: black;
}

.bg-orange {
    background-color: orange;
    color: black;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-gray {
    background-color: gray;
    color: white;
}

.top-border {
    border-top: 1px solid var(--border-color);
}

.bottom-border {
    border-bottom: 1px solid var(--border-color);
}

.left-border {
    border-left: 1px solid var(--border-color);
}

.right-border {
    border-right: 1px solid var(--border-color);
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {    
    margin-right: 25px;    
}

.mr-30 {    
    margin-right: 30px;    
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {    
    padding-top: 20px;
}

.pt-25 {    
    padding-top: 25px;
}

.pt-30 {    
    padding-top: 30px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

