.login-page {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

    .login-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        height: auto;
        padding: 0;
        margin: 0;
        gap: 10px;
    }
    
}

.login-page .left {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.35);
    position: relative;
}

.login-page .left .menu-bar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    z-index: 10;
}

.login-page .left .menu-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    gap: 30px;
    list-style: none;
}

.login-page .left .menu-bar ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.login-page .left .menu-bar ul li .link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Tilt Neon', sans-serif;
    opacity: 0.8;
}

.login-page .left .menu-bar ul li .link:hover {
    opacity: 1;
}

.login-page .left video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-page .right {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    padding: 40px 0 20px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.login-page .right img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.login-page .right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.login-page .right form .title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
    font-family: 'Tilt Neon', sans-serif;
    padding: 0 0 15px 0;
}

.login-page .right form .back {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0 25px 0;
    font-family: 'Tilt Neon', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-page .right form .back:hover {
    opacity: 1;
}

.login-page .right form .back span {
    transition: all 0.2s ease-in-out;
    margin-top: 5px;
}

.login-page .right form .back:hover span {
    transition: all 0.2s ease-in-out;
    transform: translateX(-5px);
}

.login-page .right form .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.login-page .right form .form-group label {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: 'Tilt Neon', sans-serif;
}

.login-page .right form .form-group .fielder {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.login-page .right form .form-group input {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: 1px solid transparent;
    margin: 0 0 10px 0;
    font-family: 'Tilt Neon', sans-serif;
    transition: all 0.2s ease-in-out;
}

.login-page .right form .form-group input:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.login-page .right form .form-group input:focus,
.login-page .right form .form-group input:active {
    background-color: rgba(255, 255, 255, 0.1);
    outline: 3px solid #4be04bc2;
    border: 1px solid #4be04bc2;
}

.login-page .right form .form-group p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: 'Tilt Neon', sans-serif;
    color: red;
    align-self: flex-end;
}

.login-page .right form .form-group .fielder span {
    position: absolute;
    right: 10px;
    top: 12%;
    font-style: normal;
    padding: 5px;
    font-size: 19px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    cursor: pointer;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.05);
}

.login-page .right form .form-group span:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.login-page .right form .form-group .link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0 25px 0;
    font-family: 'Tilt Neon', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

.login-page .right form .form-group .link:hover {
    opacity: 1;
}



