.login-page {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

    .login-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        height: auto;
        padding: 0;
        margin: 0;
        gap: 10px;
    }
    
}

.login-page .left {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.35);
}

.login-page .left video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {

    .login-page .left {
        display: none;
    }
    
}

.login-page .right {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.login-page .right img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.login-page .right .title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
    font-family: 'Tilt Neon', sans-serif;
}

.login-page .right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.login-page .right form .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.login-page .right form .form-group label {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: 'Tilt Neon', sans-serif;
}

.login-page .right form .form-group .fielder {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.login-page .right form .form-group input {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: 1px solid transparent;
    margin: 0 0 10px 0;
    font-family: 'Tilt Neon', sans-serif;
    transition: all 0.2s ease-in-out;
}

.login-page .right form .form-group input:hover,
.login-page .right form .form-group input:focus,
.login-page .right form .form-group input:active {
    outline: 3px solid #4be04bc2;
    border: 1px solid #4be04bc2;
}

.login-page .right form .form-group p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: 'Tilt Neon', sans-serif;
    color: red;
    align-self: flex-end;
}

.login-page .right form .form-group .fielder span {
    position: absolute;
    right: 10px;
    top: 12%;
    font-style: normal;
    padding: 5px;
    font-size: 19px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    cursor: pointer;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.05);
}

.login-page .right form .form-group span:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.login-page .right form .form-group .link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0 25px 0;
    font-family: 'Tilt Neon', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
}

.login-page .right form .form-group .link:hover {
    opacity: 1;
}

.login-page .right form .form-group button {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: 'Tilt Neon', sans-serif;
    margin: 0 0 10px 0;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.loading-spinner {
    border: 4px solid blue; 
    border-radius: 50%;
    border-top: 4px solid var(--border-color); 
    border-bottom: 4px solid var(--border-color); 
    width: 26px; 
    height: 26px; 
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    align-self: center;
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
