main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    min-height: 85vh;
    padding: 0 0 20px 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-y: auto;
}