.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

  